* {
  padding: 0;
  margin: 0;
}



.navbar {
  background-color: #38b6ff;
}






.close-navbar-toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  cursor: pointer;
}

.close-navbar-toggler.collapsed {
  z-index: -1;
}






.hero-section {
  /* margin-bottom: 0; */
  /* background-size: cover; */
  margin-top: 3rem;
}

.hero-img {
  padding-top: 8rem;

}

/* .hero-btn {
  margin-left: 35%;
  margin-bottom: 5rem;
} */

/* .hero-text {
  background-color: rgb(108, 117, 125); opacity: 0.5;;
  color: white;
  padding: 20px;
} */

/* .hero-text {
  margin-right: 10px;
} */

/* .hero-text {
  overflow: hidden;
} */

button {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info {
  background-color: #38b6ff;
}

.card {
  max-width: 25rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* .card-btn {
  margin-left: 35%;
} */

.services {
  background-color: #38b6ff;
}

.review-section {
  background-color: #38b6ff;
}

.bi-star-fill {
  color: yellow;
}

.reviews {
 background-color: #6C757D;
 max-width: 35rem;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.btn {
  max-width: 40rem;
}

.form {
  padding-left: 5rem;
  padding-right: 5rem;
  background-color: #38b6ff;
}

input {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-group {
  max-width: 40rem;
}


.checkboxes {
  max-width: 40rem;
}

.about-section {
  background-color: #38b6ff;
}

.about-us {
  max-width: 40rem;
}

a:hover {
  /* text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  text-shadow: 2px 2px 8px #000000;
}

.location-link:hover {
  text-shadow: 2px 2px 8px #000000;
}

.footer {
  /* display: inline-block; */
  justify-content: space-between;
  align-items: center;
  background-color: #38b6ff;
}

/* .top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  text-decoration: none;
} */

