* {
  padding: 0;
  margin: 0;
}

.hero-section {
  margin-bottom: 0;
  background-size: cover;
}

.bi-star-fill {
  color: yellow;
}

.form {
  padding-left: 5rem;
  padding-right: 5rem;
}

.testimony {
  /* background-color: #1B6B99; */
 background-color: rgb(71, 71, 71);
}

button {
  background-color: #2B687F;
}

.footer {
  /* display: inline-block; */
  justify-content: space-between;
  align-items: center;
}

/* .top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  text-decoration: none;
} */

